name: Release

on:
  push:
    branches: [main, develop]
  pull_request:

jobs:
  release:
    uses: slauger/container-gitops-pipeline/.github/workflows/helm-oci.yaml@main
    with:
      chart_path: '.'
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
